<body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container text-center flightCo">
            <h1>FlightCo.©</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Suggested Trips</h3>
                <p> <b>From Johannesburg</b>. Non-stop to Cape Town, 2hh:15mm flight. Price for 1 passenger: R 2 089 </p>
            </div>
            <div class="col-md-4">
                <br>
                <p><b>From Johannesburg</b>. Non-stop to East London, 1hh:35mm flight. Price for 1 passenger: R 1 098 </p>
            </div>
            <div class="col-md-4">
                <br>
                <p><b>From Johannesburg</b>. 1 stop, Dubai, 14hh:25mm flight. Price for 1 passenger: R 5 865</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <br>
                <p><b>From Johannesburg</b>. 1 stop, London, 18hh:10mm flight. Price for 1 passenger: R 9 066</p>
            </div>
            <div class="col-md-4">
                <br>
                <p><b>From Johannesburg</b>. 1 stop, Harare, 1hh:50mm flight. Price for 1 passenger: R 4 089</p>
            </div>
            <div class="col-md-4">
                <br>
                <p><b>From Johannesburg</b>. 1 stop, Bloemfontein, 00hh:55mm flight. Price for 1 passenger: R 2 037</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row text-center">
            <div>
                <h4>Our Suits features include...</h4>
                <ul class="center" type="square">
                    <li>Private suite option where your seat can turn into a bed</li>
                    <li>Extra storage areas and personal coat service</li>
                    <li>It offers plenty of room for watching TV or reading</li>
                    <li>Sky lounge, which comes with a curved bar and bar snacks</li>
                    <ul>
                        <li>Distraction free.</li>
                    </ul>
                    <li>Passengers get some pretty nice amenities while flying</li>
                    <ul>
                        <li>including eye cream</li>
                        <li>... and pajamas</li>
                    </ul>
                </ul>
            </div>

        </div>
    </div>

    <hr>


    <hr>

    <footer>
        <p class="text-center"><a href="startPage">FlightCo.©</a>.</p>
    </footer>
</body>


<!--  -->