<hr>

<div class="container">
    <div class="row">

        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Confirm Booking</h4>
                            <button name="submit" type="submit" class="btnEdit" (click)="onEdit()">Edit </button>
                            <hr>
                        </div>
                    </div>
                    <table>
                        <tr>
                            <th>Title: </th>
                            <td>{{title}}</td>
                        </tr>
                        <tr>
                            <th>Full name: </th>
                            <td>{{fullName}}</td>
                        </tr>
                        <tr>
                            <th>ID number: </th>
                            <td>{{idNum}}</td>
                        </tr>
                        <tr>
                            <th>Contact number: </th>
                            <td>{{phone}}</td>
                        </tr>
                        <tr>
                            <th>Gender: </th>
                            <td>{{radio}}</td>
                        </tr>
                        <tr>
                            <th>Emergency contact name: </th>
                            <td>{{emName}}</td>
                        </tr>
                        <tr>
                            <th>Emergency contact relation: </th>
                            <td>{{emRelation}}</td>
                        </tr>
                        <tr>
                            <th>Emergency contact number: </th>
                            <td>{{emPhone}}</td>
                        </tr>
                        <tr>
                            <th>Emergency contact email: </th>
                            <td>{{emEmail}}</td>
                        </tr>
                    </table>
                    <br>
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button name="submit" type="submit" class="btn btn-primary" (click)="onPay()">Proceed to Payment</button>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <form>

                                <div class="form-group row">
                                    <label for="title" class="col-4 col-form-label">Title</label>
                                    <div class="col-8">
                                        <input id="username" value="{{title}}" class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="fName" class="col-4 col-form-label">Name</label>
                                    <div class="col-8">
                                        <input id="fName" value="{{fName}}" class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lName" class="col-4 col-form-label">Surname</label>
                                    <div class="col-8">
                                        <input id="lName" value="{{lName}}" class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="dateOfBirth" class="col-4 col-form-label">Date of Birth</label>
                                    <div class="col-8">
                                        <input id="dateOfBirth" value="{{dateOfBirth}}" class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="gender" class="col-4 col-form-label">Gender</label>
                                    <div class="col-8">
                                        <input id="gender" value="{{gender}}" class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="eMail" class="col-4 col-form-label">E-mail</label>
                                    <div class="col-8">
                                        <input id="eMail" value="{{eMail}}" class="form-control here" type="email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="homeNo" class="col-4 col-form-label">Home Phone</label>
                                    <div class="col-8">
                                        <input id="homeNo" value="{{homeNo}}" class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="mobileNo" class="col-4 col-form-label">Mobile Phone</label>
                                    <div class="col-8">
                                        <input id="mobileNo" value="{{mobileNo}}" class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="eContactName" class="col-4 col-form-label">Emegency Contact Name</label>
                                    <div class="col-8">
                                        <input id="eContactName" value="{{eContactName}}" class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ePhoneNo" class="col-4 col-form-label">Emegency Contact Number</label>
                                    <div class="col-8">
                                        <input id="ePhoneNo" value="{{ePhoneNo}}" class="form-control here" type="text">
                                    </div>
                                </div>


                                <br>
                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                        <button name="submit" type="submit" class="btn btn-primary" (click)="onPay()">Proceed to Payment</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div> -->
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>